@use "../components/header";
@use "../components/footer";
@use "../pages/index";
@use "../pages/about-us";
@use "../pages/our-services";
@use "../pages/protfolio";
@use "../pages/portfolio-details";
@use "../pages/blog";
@use "../pages/blog-details";
@use "../pages/contact";

@import "../components/variables";

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

:root {
  --bg: #05131b;
  --bg-section: #030c10;
  --color: white;
  --color-gray: gainsboro;
  --border-color: rgb(40, 42, 51);
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden !important;
  background-color: #05131b !important;
  color: white !important;

  &.light {
    --bg: #fbfeff;
    --bg-section: #e8eced;
    --color: #05131b;
    --color-gray: gray;
    --border-color: rgb(209 209 209);
    background-color: #fbfeff !important;
    color: #05131b !important;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
}

svg {
  width: 20px;
}

main {
  background-color: #05131b !important;
  background-image: url(../images/graph.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white !important;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/Herobackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    opacity: 0.5;
  }

  .btn_outline {
    color: white !important;
  }
}

$colourStart: #1e8ce4;
$colourMid: #260f77;
$colourEnd: #00f3ca;

$colour-cyan: #00ffd3;
$colour-white: #ffffff;
$colour-black: #000000;

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

.globe {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$dotSize: 16px;
$dotSizeLarge: $dotSize + ($dotSize / 2);

.globe .globe-list {
  opacity: 0;
  @include transition(opacity 3s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.globe .globe-list.active {
  opacity: 1;
}

.globe .globe-list > li {
  opacity: 0.4;
  position: absolute;
  margin-left: -($dotSize / 2);
  margin-top: -($dotSize / 2);
  width: $dotSize;
  height: $dotSize;
  border-radius: 50%;
  background: $colour-cyan;
  @include transition(opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.globe .globe-list > li.active {
  opacity: 1;
  margin-left: -($dotSizeLarge / 2);
  margin-top: -($dotSizeLarge / 2);
  width: $dotSizeLarge;
  height: $dotSizeLarge;
}

.globe .globe-list > li:before {
  content: "";
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -($dotSize / 2);
  margin-top: -($dotSize / 2);
  width: $dotSize;
  height: $dotSize;
  border-radius: 50%;
  background: $colour-cyan;
  @include animation(2s pulse infinite linear);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(2);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -ms-transform: scale(2);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -o-transform: scale(2);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.globe .globe-list > li.active:before {
  margin-left: -($dotSizeLarge / 2);
  margin-top: -($dotSizeLarge / 2);
  width: $dotSizeLarge;
  height: $dotSizeLarge;
}

.globe .globe-list > li.active,
.globe .globe-list > li.active:before {
  background: $colour-white;
}

.globe .globe-list .text {
  position: absolute;
  opacity: 0.8;
  right: $dotSize + 5px;
  top: 50%;
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-align: right;
  text-shadow: -1px -1px 0 $colour-black, 1px -1px 0 $colour-black,
    -1px 1px 0 $colour-black, 1px 1px 0 $colour-black;
  color: $colour-white;
  white-space: nowrap;
  @include transform(translateY(-50%));
}

.globe .globe-list > li.active .text {
  opacity: 1;
  right: $dotSizeLarge + 5px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.globe .globe-canvas {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.globe svg {
  height: 100%;
  width: 100%;
  opacity: 0.3;
  animation: rotation 10s linear infinite;
}

.svg-wrapper {
  opacity: 0;
  display: inline-block;
  position: absolute;
  width: 76vh;
  height: 76%;
  left: 0;
  right: 0;
  top: 12%;
  margin: auto;
  transform: scale(0.5);
  transition: opacity 1s ease-out 1.6s, transform 1s ease-out 1.6s;
  &.active {
    opacity: 1;
    transform: none;
  }
}

@media (max-width: 768px) {
  .svg-wrapper {
    left: -130px;
  }
}

@keyframes rotation {
  0% {
    transform: scaleX(-1) rotate(360deg);
  }
  100% {
    transform: scaleX(-1) rotate(0deg);
  }
}

.btn_outline {
  background: $primary-color;
  color: var(--color) !important;
  padding: 8px 25px;
  border-radius: 50px;
  font-size: 17px;
  border: none;
  display: block;
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 20px;
  border: $primary-color solid 0.15em;
  border-radius: 50px;
  color: $primary-color;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;

  p {
    z-index: 1;
    margin-bottom: 0;
  }

  &:hover {
    color: #212121;
  }

  &:active {
    border-color: $primary-color;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: $primary-color;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
  }

  &::before {
    left: 0;
    transform: translateX(-8em);
  }

  &::after {
    right: 0;
    transform: translateX(8em);
  }

  &:hover:before {
    transform: translateX(-1em);
  }

  &:hover:after {
    transform: translateX(1em);
  }

  &:active:before,
  &:active:after {
    background: $primary-color;
  }
}

// utils classes
.line_section {
  display: flex;
  align-items: center;
  gap: 40px;

  > div {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .line_section {
    flex-direction: column;
    gap: 30px;

    > div {
      width: 100%;
    }
  }

  .btn_outline {
    padding: 4px 20px;
    font-size: 15px;
  }
}
