@import "../components/variables";

// start blog
.blog_page {
  padding: 80px 0;

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;

    .box {
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid var(--border-color);

      &:hover {
        .image {
          img {
            transform: scale(1.1) rotate(3deg);
          }
        }

        .title {
          color: $primary-color !important;
        }
      }

      .image {
        margin-bottom: 10px;
        overflow: hidden;

        img {
          width: 100%;
          height: 230px;
          object-fit: cover;
          transition: all 0.4s;
        }
      }

      .content {
        padding: 0 15px 15px;
      }

      .type {
        padding: 1px 8px;
        background-color: $primary-color;
        color: white;
        border-radius: 5px;
        margin-bottom: 10px;
        width: fit-content;
        font-size: 13px;
      }

      .title {
        font-size: 22px;
        font-weight: 600;
        transition: all 0.4s;
      }

      .desc {
        color: gray;
        line-height: 1.6;
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        h6 {
          font-size: 17px;
          margin-bottom: 0;
        }

        span {
          font-size: 14px;
          color: gray;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .blog_page {
    padding: 40px 0;

    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      gap: 20px;

      .box {
        .image {
          img {
            height: 200px;
          }
        }

        .content {
          padding: 0 10px 10px;
        }

        .type {
          font-size: 12px;
          margin-bottom: 5px;
        }

        .title {
          font-size: 19px;
          margin-bottom: 5px;
        }

        .desc {
          font-size: 14px;
          margin-bottom: 5px;
        }

        .profile {
          img {
            width: 30px;
            height: 30px;
          }

          h6 {
            font-size: 15px;
          }

          span {
            font-size: 11px;
          }
        }
      }
    }
  }
}
// end blog
