@import "../components/variables";

// start manage_section
.manage_section {
  padding: 70px 0;

  .line {
    .text {
      .title {
        font-size: 35px;
        font-weight: 600;

        span {
          position: relative;
          display: inline-block;

          &::before {
            content: "";
            position: absolute;
            bottom: 7px;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: $primary-color;
            z-index: -1;
          }
        }
      }

      .desc {
        line-height: 1.7;
      }

      .users {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 140px;
        }
      }
    }

    .boxs {
      .box {
        padding: 20px;
        background-color: #030c10;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 20px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &:nth-child(2) {
          transform: translateX(30px);
        }

        .image {
          img {
            width: 70px;
          }
        }

        .text {
          h4 {
            font-size: 22px;
            margin-bottom: 3px;
          }

          p {
            margin-bottom: 0;
            line-height: 1.7;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .manage_section {
    padding: 35px 0;

    .line {
      .text {
        text-align: center;

        .title {
          font-size: 21px;
        }

        .desc {
          font-size: 14px;
        }

        .users {
          flex-direction: column;

          img {
            width: 125px;
          }

          span {
            font-size: 14px;
          }
        }
      }

      .boxs {
        .box {
          transform: translateX(0) !important;
          flex-direction: column;
          gap: 10px;

          .image {
            img {
              width: 50px;
            }
          }

          .text {
            h4 {
              font-size: 20px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
// end manage_section

// start workflow_section
.workflow_section {
  padding: 50px 0;

  .line {
    padding: 70px 20px;
    background-color: #030c10;
    border-radius: 10px;
    .text {
      .title {
        font-size: 35px;
        font-weight: 600;
        position: relative;
        z-index: 20;

        span {
          position: relative;
          display: inline-block;

          &::before {
            content: "";
            position: absolute;
            bottom: 7px;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: $primary-color;
            z-index: -1;
          }
        }
      }

      .desc {
        line-height: 1.7;
      }

      .items {
        .item {
          position: relative;
          display: flex;
          gap: 25px;

          .wf_progress {
            position: relative;
            padding-bottom: 80px;

            .wf_count {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #0f1a1f;
              z-index: 100;
              position: relative;
              transition: all 0.5s;

              &.active {
                background-color: $primary-color;
              }
            }

            .wf_line {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 1px;
              height: 100%;
              z-index: 9;
              border-left: 1px dashed;
            }

            .wf_line_progress {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 2px;
              height: 0%;
              z-index: 99;
              background-color: $primary-color;
              transition: all 0.5s;
            }
          }
        }
      }
    }

    .image {
      img {
        width: 90%;
      }
    }
  }
}

@media (max-width: 768px) {
  .workflow_section {
    padding: 25px 0;

    .line {
      padding: 40px 0;

      .text {
        .title {
          font-size: 21px;
        }

        .desc {
          font-size: 14px;
        }

        .items {
          .item {
            gap: 10px;

            .wf_info {
              h5 {
                margin-bottom: 0;
                font-size: 18px;
              }

              p {
                font-size: 14px;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
// end workflow_section

// start popular_services
.popular_services {
  padding: 70px 0;

  .head {
    text-align: center;

    .subtitle {
      margin-bottom: 10px;
      color: $primary-color;

      span {
        font-size: 18px;
      }
    }

    .title {
      font-size: 35px;

      span {
        color: $primary-color;
      }
    }
  }

  .line {
    margin-top: 60px;
    .boxs {
      .box {
        display: flex;
        gap: 20px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .icon {
          min-width: 35px;
          width: 35px;
          height: 35px;
          background-color: $primary-color;
          border-radius: 50%;

          &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: 7px;
            width: 100%;
            height: 100%;
            border: 1px solid white;
            border-radius: 50%;
          }
        }
      }
    }

    .image {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .popular_services {
    padding: 40px 0;

    .head {
      .subtitle {
        font-size: 15px;
      }

      .title {
        font-size: 25px;
      }
    }

    .boxs {
      .box {
        .info {
          h4 {
            font-size: 20px;
            margin-bottom: 0px;
          }

          p {
            margin-bottom: 0;
            font-size: 14px;
            color: rgb(208, 208, 208);
          }
        }
      }
    }

    .image {
      margin: 15px 0;
    }
  }
}
// end popular_services
